h1 {
    color: white;
    margin-right: 200px;

    font-family: cursive;
    
}

a:link{
    color: black;
}

a:visited{
    color:blanchedalmond;
}

/* * {
    border: solid;
} */

.item{
    position:relative

}

.item p{
    opacity:1;
    color: #141518;
    font-size: 20px;
    
    font-family:monospace;
}

.item:hover p{
    opacity:0.5; 
    font-size: 22px;
    font-family:monospace;
    color: #141518
}

.item:hover img{
    opacity:0.5
    
}

.header{
    background-color: rgb(121,157,254);
    display: flex;
    text-align: center;
    
    
}


.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content:center;

  
}

.end{
    font-size: 20px;
    color: black;
    
   
}

.click{
    font-size: 25px;
    color:black;
    margin-left: -250px;
    margin-right: 650px;
   margin-top: 70px;
}
p,h2{
    text-align: center;
    
}

